<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.risotto" android:versionCode="1" android:versionName="1.0">

	<!-- Application Permissions -->
	<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
	<uses-permission android:name="android.permission.FLASHLIGHT"></uses-permission>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>

	<!-- Application Declaration -->
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:launchMode="singleInstance" android:screenOrientation="portrait">

		<!-- Launch Activity -->
		<activity android:name="com.risotto.MainActivity"
			android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">

			<intent-filter>
				<!-- Main entry activity in this application node. -->
				<action android:name="android.intent.action.MAIN" />
				<!-- Specifies that this Activity can be launched from the main launcher. -->
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

		</activity>

		<!-- ContentProvider Node -->
		<provider android:name="com.risotto.storage.StorageProvider"
			android:authorities="com.risotto.storage.provider" />

		<!-- Drug View Activity -->
		<activity android:name="com.risotto.view.drug.DrugView" />

		<!-- Prescription View Activity -->
		<activity android:name="com.risotto.view.prescription.PrescriptionView" />

		<!-- Prescription Details View Activity -->
		<activity android:name="com.risotto.view.prescription.PrescriptionDetailsView" />

		<!-- Drug Details View Activity -->
		<activity android:name="com.risotto.view.drug.DrugDetailsView" />

		<!-- Wizard Activities -->
		<!-- Who is it for -->
		<activity android:name="com.risotto.view.wizard.WhoWillBeTaking"
			android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name="com.risotto.view.wizard.WhenTakeIt"
			android:theme="@android:style/Theme.NoTitleBar" />
		<!-- OTC or Prescription -->
		<activity android:name="com.risotto.view.wizard.OverCounterOrPrescription"
			android:theme="@android:style/Theme.NoTitleBar" />
		<!-- Take at Spec Times: Take it every day? -->
		<activity android:name="com.risotto.view.wizard.TakeItEveryDay"
			android:theme="@android:style/Theme.NoTitleBar" />
		<!-- Yes: Schedule for every day -->
		<activity android:name="com.risotto.view.wizard.HowOftenSchedule"
			android:theme="@android:style/Theme.NoTitleBar" />
		<!-- No: Select Days & Times -->


		<!-- Prescription Add Activity -->
		<activity android:name="com.risotto.view.prescription.PrescriptionAdd"
			android:label="@string/prescription_add_title" />

		<!-- Patient View Activity -->
		<activity android:name="com.risotto.view.patient.PatientView" />

		<!-- Dialog Activity -->
		<activity android:name="com.risotto.DialogActivity"
			android:theme="@android:style/Theme.Dialog"
			android:excludeFromRecents="true" />

		<!-- Receiver Node -->
		<receiver android:name="com.risotto.service.MainServiceManager">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.USER_PRESENT" />
				<action android:name="android.intent.action.TIME_SET" />
				<action android:name="android.intent.action.TIMEZONE_CHANGED" />
			</intent-filter>
		</receiver>

		<!-- Drug Add activity -->
		<activity android:name="com.risotto.view.patient.PatientAdd"
			android:label="@string/patient_add_window_title" android:theme="@android:style/Theme.Dialog"
			android:windowSoftInputMode="stateVisible" />

		<!-- Drug Add/Edit activity -->
		<activity android:name="com.risotto.view.drug.DrugAdd"
			android:label="@string/drug_add_window_title" android:theme="@android:style/Theme.NoTitleBar"/>
			<!--  <intent-filter>
				<action android:name="android.intent.action.INSERT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.risotto.drug" />
			</intent-filter>

			<intent-filter android:label="@string/drug_resolve_title">
				<action android:name="com.risotto.action.EDIT_DRUG" />
				<category android:name="android.intent.category.DEFAULT" />
				
				<category android:name="android.intent.category.ALTERNATIVE" />
				<category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
				<data android:mimeType="vnd.android.cursor.item/vnd.google.note" />
			</intent-filter> 
		</activity> -->

		<!-- Main Service -->
		<service android:name="com.risotto.service.MainService" />

	</application>

	<!-- Minimum SDK Version -->
	<uses-sdk android:minSdkVersion="7" />

</manifest> 